
<div class="container">
    <form>
      <div class="form-row">
        <div class="col-12 col-md-9 mb-2 mb-md-0">
          <input #nameInput type="name" class="form-control form-control-lg" placeholder="Enter your twitter screen name..." id="username">
        </div>
        <div class="col-12 col-md-3">
          <button type="submit" class="btn btn-block btn-primary"
            (click) = "saveUsername(nameInput)"
          >Submit!</button>
        </div>
      </div>
    </form>
</div>

<div *ngIf = "screen_name" class=" container">
  <div  *ngIf = "panels" class="panel-group">
    <div class = "details">
      <blockquote>
      <p>{{words}} words were analyzed in order to predict your personality</p>
      <p>Click on a Category to learn more about it.</p>
    </blockquote>
    </div>
    <div *ngFor = "let object of panels" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-capitalize">
          <a data-toggle="collapse" href="#{{object[0].category}}">{{object[0].category}}</a>
        </h4>
      </div>
      <div id="{{object[0].category}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class = "trait-table">
            <table class = "table table-sm table-dark table-striped table-bordered">
              <thead class = "thead-dark">
                <tr>
                  <th scope="col">Trait</th>
                  <th scope="col">Percentile</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let v of object">
                  <th scope="row">{{v.name}}</th>
                  <td>{{(100*v.percentile)| number:0}}%</td>
                </tr>
              </tbody>
          </table>
          </div>
        </div>

        <div class="panel-footer" *ngIf="chartDataObj[object[0].category] !== undefined && chartLabelsObj[object[0].category] !== undefined">
          <app-chart [chartData]="chartDataObj[object[0].category]" [chartLabels] = "chartLabelsObj[object[0].category]"></app-chart>
        </div>
      </div>
    </div>
  </div>
</div>
